html,
body {
  /* we don't want any of these to scroll */
  overflow: hidden;
  height: 100%;
}

#root {
  background-color: mediumorchid;
  background-image: url('/images/vintage-floral-background-pattern.jpg');
  height: 100%;
}
